.title  {
    text-align: center;
}

.name1{
    position: relative;
    bottom: 280px;
    left: 263px;
}

.name2{
    position: relative;
    bottom: 275px;
    left: 120px;
}

.name3{
    position: relative;
    bottom: 290px;
    left: 406px;
}

